.container {
    width: 1900px;
    margin: 0;
    padding: 0;
}
.header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1920px;
    height: 100px;
    background: rgba(9, 9, 189, 0.705);
    color: rgb(255, 255, 255);
}
.header_logo {
    display: flex;
    align-items: center;
    width: 200px;
    justify-content: space-around;
}
.header_logo img {
    width: 50px;
}
.btn-register-sign_in {
    display: flex;
    width: 200px;
    align-items: center;
    justify-content: space-around;
}
.main_bootstrap_carousel {
    width: 500px;
    margin-top: 10px;
    margin: 0 auto;
}
.item {
    height: 250px;
    margin: 0 auto;
}
.flex_container {
    display: flex;
    width: 1800px;
    height: 600px;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 20px;
}
.flex_container img {
    width: 400px;
    height: 600px;
}
.flex_container p {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}